{% extends 'devices/device-base.html' %}
{% load static %}

{% block Title %}أرشيف الأجهزة{% endblock %}

{% block table_id %}device-archive-table{% endblock %}

{% block rows %}
    {% for device in archive_devices %}
    <tr data-serial="{{ device.serial_number }}" data-receipt-pk="{{ device.delivery_receipt_id }}">
        <td></td>
        <td>{{ forloop.counter }}</td>
        <td>{{ device.serial_number }}</td>
        <td data-company="{{ device.company_name }}">{{ device.company_name }}</td>
        <td data-type="{{ device.device_type }}" data-pk="{{ device.pk }}">{{ device.device_type }}</td>
        <td>{{ device.leave_date }}</td>
        <td><img class="icon" src="{{ device.in_inventory_icon }}"></td>
        <td><a href="#device-detail" class="device-detail-button" data-device-id="{{ device.pk }}" data-device-serial="{{ device.serial_number }}">ذهاب</a></td>
    </tr>
    {% endfor %}
{% endblock %}

{% block extra_headers %}
    <th>فى المخزن</th>
{% endblock %}

{% block js %}
    <script src="{% static 'devices/js/device-archive.js' %}"></script>
{% endblock %}
